# dependencies for chatbot
streamlit
langchain
langchain-google-firestore
langchain-google-vertexai
langchain-google-genai

# dependencies for scraper
scrapy
bs4
google-cloud-firestore
google-cloud-aiplatform
langchain-text-splitters